WS_URL=ws://localhost:1234/ws/marketdata
SECURITY_ID=1


REST_URL=http://localhost:5000
CAPTURE_PATH=market-data.jsonl
REPLAY_PATH=captures/market-data.jsonl

#optional
CAPTURE_PATH=captures/market.jsonl
#REPLAY_PATH=captures/market.jsonl